Pandas series are objects built on top of Numpy which can be used to provide labels to 1D Numpy arrays

This notebook contains code samples for:
- Creating pandas series object
- Accessing series values based on implicit indexing, slicing, boolean masking
- Specifying explicit index for series object
- Creating pandas series object using dictionary

In [1]:
import pandas as pd

In [33]:
#Creating pandas series object with implicit indexing
prices = pd.Series([100,200,300,400,500], name = "ItemPrices")
prices

0    100
1    200
2    300
3    400
4    500
Name: ItemPrices, dtype: int64

In [35]:
#Retrieving numpy array in series object
prices.values

array([100, 200, 300, 400, 500], dtype=int64)

In [37]:
#Retrieving numerical index in series object
prices.index

RangeIndex(start=0, stop=5, step=1)

In [38]:
#Retrieving values by numerical index
prices[0]

100

In [39]:
#Retrieving values by numerical index slicing
prices[1:3]

1    200
2    300
Name: ItemPrices, dtype: int64

In [48]:
#Retrieving values by boolean masking
prices[prices.values > 100]

1    200
2    300
3    400
4    500
Name: ItemPrices, dtype: int64

In [49]:
#Creating pandas series object with explicit indexing
capitals = pd.Series(['Washington D.C','New Delhi','Tokyo','Beijing','London'], index = ['US','India','Japan','China','UK'], name= "CountryCapitals")
capitals

US       Washington D.C
India         New Delhi
Japan             Tokyo
China           Beijing
UK               London
Name: CountryCapitals, dtype: object

In [41]:
#Retrieving explicit index in series object
capitals.index

Index(['US', 'India', 'Japan', 'China', 'UK'], dtype='object')

In [42]:
#Retrieving values based on explicit index
capitals['US']

'Washington D.C'

In [43]:
#Retrieving values based on explicit index slicing. Here, end value is included in slicing.
capitals['US':'China']

US       Washington D.C
India         New Delhi
Japan             Tokyo
China           Beijing
Name: CountryCapitals, dtype: object

In [45]:
#Creating pandas series through dictionary
currency = pd.Series({'US':'Dollars','India':'Rupee','France':'Euro','Denmark':'Crone','Japan':'Yen'}, name = 'CountryCurrency')
currency

Denmark      Crone
France        Euro
India        Rupee
Japan          Yen
US         Dollars
Name: CountryCurrency, dtype: object